body {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Nanum Myeongjo';

}


/* MENU */

/* .menu {
    background-image: url(/assets/photos/09-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    height: 100vh;
    min-width: 100%;
}  */

.menu__img {
    background-image: url("/assets/photos/09-day.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


.menu__linklist {
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    margin-top: 0px;
    padding-top: 0.8rem;
    margin-right: 15rem;
}

.header {
    display: none;
}

 .menu a:-webkit-any-link {
    color: #000;
    text-decoration: none;
 }

.menu__booking a:-webkit-any-link {
    color: #fff;
    text-decoration: none;
 }

 .menu__confirmation a:-webkit-any-link {
    color: #fff;
    text-decoration: none;
 }

li:nth-child(1) {
   max-width: 20%;
}


.menu__header-logo {
    max-width: 70%;
   
}


/* header flavour text logo */

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 25%; */
    align-items: center;
    padding-right: 40%;
    padding-top: 2%;
}



.header__content__text {
    display: block;
}


.header__content__logo{
    max-width: 15%;
    margin-bottom: 10rem;
}

/* main section checkin box */

.main-section {
    background-color: #05272f;
    background-image: url(/assets/backgroundoverlay.png);
    background-size: 90%;
    color: #fff;
    /* position: absolute; */

}



.main-section__checkin {
    background-color: black;
    opacity: 0.9;
    margin: -2rem 2rem 0rem 2rem;
    display: grid;
    padding: 2rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    'checkintext checkouttext adulttext childtext button'
    'checkindate checkoutdate adultcount childcount button';
}



.main-section__checkin-text {
    grid-area: checkintext;
    opacity: 1;
}

.main-section__checkin-dates {
    grid-area: checkindate;
}

.main-section__checkout-text {
    grid-area: checkouttext;
    opacity: 1;
}

.main-section__checkout-dates {
    grid-area: checkoutdate;
}


.main-section__checkin-adult {
    grid-area: adulttext;

}

.main-section__checkin-adult-input {
    grid-area: adultcount;
}



.main-section__checkin-children {
    grid-area: childtext;
}


.main-section__checkin-childreninput {
    grid-area: childcount;

}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;

}


.main-section__checkin-button {
    grid-area: button;
    text-align: center;
    background-color: #dbf6b0;
    color: buttontext;
    border-width: 0px;
    border-style: outset;
    border-radius: 10px;
    margin: 1rem;
    font-family: 'raleway';
    font-size: large;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
    margin-top: 2rem;
}


.main__filler {
   text-align: center;
   margin: 7%;
   padding-bottom: 7%;
}


/* kort */


.main__card {
    display: flex;
    flex-direction: row;
     gap: 2rem;
    place-items: center;
    align-items: center;
    justify-content: space-around;
    padding-left: 6rem;
    padding-right: 6rem;
}

.main__card__first, .main__card__second, .main__card__third {
    background: white;
    max-width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;

}

.main__card__first{
    background-image: url(/assets/photos/05-night.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.main__card__second{
    background-image: url(/assets/photos/06-night.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.main__card__third{
    background-image: url(/assets/photos/04-night.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.card__text {
    width: 80%;
    margin-bottom: 1rem;
    font-size: x-small;
    font-weight: 600;
    text-align: center;
    color: black;
    margin-top: 45%;
}

.info {
    margin-block-end: 0;
}




.footer {
    background-color: #20666f;
    color: #54eabd;
    padding-bottom: 2rem;
  
}


.footer__nav{
 display: grid;
 grid-column: auto;
 grid-row: auto;
 grid-template-areas: 'image info ToC resorts';
 column-gap: 2rem;
}


.footer__nav__img{
    max-width: 100%;
    width: 50%;
    grid-area: image;
    margin: 1rem;
}

.footer__nav-info {
    grid-area: info;
    margin: 1rem;
}


.footer__nav-ToC {
    grid-area: ToC;
    margin: 1rem;
}

.footer__nav-resorts {
    grid-area: resorts;
    margin: 1rem;
}
.footer__nav__list {
    list-style: none;
    padding-left: 0px;
}



.menu__booking {
    background-color: #05272f;
    background-image: url(/assets/backgroundoverlay.png);
    background-size: 90%;
    padding: 0.5rem 0 0.5rem 0;
    color: #fff;
    text-align: center;
    
}

.booking__infosection{
    background-color: #20666f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.booking__infosection__title {
    margin: 0;
    padding: 1rem;
    color: white;
    font-size: x-large;
}

.booking__select {
    font-family: 'Nanum myeongjo';
    background-color: transparent;
    color: white;
    border: none;

}
.booking__select option {
    background-color: #20666f;
}

.booking__roomcard {
    border-width: 2rem;
    border-style:solid;
    border-color: #20666f;
}

.booking__roomcard__title {
    text-align: center;
  
}

.booking__roomcard__notitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.booking__roomcard__roomdetail {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    'picture picture'
    'picture picture'
    'view size'
    'occupancy bedding';
    max-width: 30%;
    border-width:1px;
    border-style:solid;
    border-color:black;
    margin-bottom: 3rem;
    
}

.roomcard__img {
    grid-area: picture;
    max-width: 100%;
}

.roomcard__view {
    grid-area: view;
}

.roomcard__size{
    grid-area: size;
}

.roomcard__occupancy {
    grid-area: occupancy;
}


.booking__roomcard__prize {
    text-align: center;
}

.booking__roomcard__prize-rate {
    border-width:1px;
    border-style:solid;
    border-color:black;
}


.confirmation__body {
    background-color: #05272f;
    background-image: url(/assets/backgroundoverlay.png);
    background-size: 90%;
}
.menu__confirmation {
    padding: 0.5rem 0 0.5rem 0;
    color: #fff;
    text-align: center;
}


.confirmation__details {
    background-color: #20666f;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'head head'
    'bone sone'
    'btwo stwo'
    'bthree sthree'
    'bfour sfour'
    'bfive sfive';
    padding: 2rem;
    margin: 3rem;
}

.confirmation__details-header {
    grid-area: head;
    text-align: center;
    font-size: xx-large;

}

.confirmation__details-bold-one {
    grid-area: bone;
    font-weight: bolder;
}

.confirmation__details-bold-two {
    grid-area: btwo;
    font-weight: bolder;
}

.confirmation__details-bold-three {
    grid-area: bthree;
    font-weight: bolder;
}
.confirmation__details-bold-four {
    grid-area: bfour;
    font-weight: bolder;
}
.confirmation__details-bold-five {
    grid-area: bfive;
    font-weight: bolder;
}


.confirmation__details-slim-one {
    grid-area: sone;
}
.confirmation__details-slim-two {
    grid-area: stwo;
}
.confirmation__details-slim-three {
    grid-area: sthree;
}
.confirmation__details-slim-four {
    grid-area: sfour;
}
.confirmation__details-slim-five {
    grid-area: sfive;
}


.booking__mainarea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'form imgone'
    'form imgtwo';
    margin: 3rem;
}

.booking__mainarea__img-one {
    max-width: 100%;
    width: 90%;
    height: auto;
    grid-area: imgone;
    margin: 0 0 2rem 3rem;
}
.booking__mainarea__img-two {
    max-width: 100%;
    width: 90%;
    grid-area: imgtwo;
    margin: 2rem;
}

.booking__mainarea__form {
    display: flex;
    flex-direction: column;
    /* margin: rem; */
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem 2rem 1rem 2rem;
    grid-area: form;
}

.select__confirm {
    font-family: 'Nanum myeongjo';
    background-color: transparent;
    color: black;
    border: 1px solid black;

}


.about__filler {
    text-align: center;
    padding: 3rem;
}

.about__filler--header {
    margin: 0;
}


.nav a{
    text-decoration: none;
}
.nav ul{
    list-style: none;
}



.logo {
    max-width: 50%;
}
    
.header{
    background-image: url(/assets/photos/09-day.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 15rem;
}

.nav{
    width: auto;
    height: 100%;
    color: #000;
    position: fixed;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
}
.menu a:hover{
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after{
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;

}


.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.nav a:-webkit-any-link {
    color: #000;
    text-decoration: none;
    font-weight: bolder;


}


@media screen and (max-width: 600px) {
    
    .header {
        display: inline-block;
    } 
    .menu, .menu__booking {
            display: none; }

    .main-section__checkin {
        grid-template-areas:
        'checkintext'
        'checkindate'
        'checkouttext'
        'checkoutdate'
        'adulttext'
        'adultcount'
        'childtext' 
        'childcount'
        'button';
    }

    .main__card {
        flex-direction: column;
        padding: 0;
    }

    .main__card__first, .main__card__second, .main__card__third {
        max-width: 70%;
    }

    .footer__nav{
        grid-template-areas:
        'image'
        'info'
        'ToC'
        'resorts';
        column-gap: 2rem;
       }



           .header__content__text {
            text-align: center;
            margin: 1rem 0 5rem 2rem;
           }

        .header__content__logo {
            display: none;}

      .booking__roomcard__notitle {
        flex-direction: column;
          }

        
        .booking__roomcard__roomdetail {
            max-width: 100%;
            border: none;
        }

        .booking__roomcard__prize-rate {
            border: none;
  
        }

        .header__content__logo {
            display: none;
        }

        }

  